.Logo {
    max-width: 250px;
}
.Menu {
    width: 100%;
    height: 94px;
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
  
    background: var(--black);
    border-bottom: 2px solid var(--gold);
}
body {
    --bodyPaddingTop: 94px;
    padding-top: var(--bodyPaddingTop);
    
}

@media only screen and (max-device-width: 800px) {
    .Menu {
      height: 160px;
    }
    .Logo {
      max-width: 450px;
    }
    body {
      --bodyPaddingTop: 40px;
      padding-top: var(--bodyPaddingTop);
    }
}
  
  
  